.App {
  text-align: center;
}


/*********** Nav Bar ***********/
.nav-bar {
  padding-top: 1vh;
  position: fixed;
}


.nav-bar-logo-container {
  width: 4vw;
  height: 4vh;
}

.nav-bar-logo {
  height: 10vh;
  width: auto;
}

.nav-title {
  font-size: 16px;
  padding: 11px 15px;
  color: #635551
}

.nav-title-container {
display: flex;
flex-direction: row;
margin-left: 15vw;
margin-right: 15vw;
justify-content: space-between;
margin-right: 15vw;
}