.App {
  text-align: center;
}

/*********** Used In Multiple ***********/





/*********** Nav Bar ***********/
.nav-bar {
  display: flex;
flex-direction: row;
justify-content: space-between;
  padding-top: 1vh;
  position: fixed;
  background-color: white;
  z-index: 2;
  box-shadow: 1px -24px 69px 3px rgba(136,136,136,1);
}


.nav-bar-logo-container {
  width: 4vw;
  height: 4vh;
}

.nav-bar-logo {
  height: 10vh;
  width: auto;
}

.nav-title {
  font-size: 20px;
  padding: 11px;
  color: #635551;
  cursor: pointer;
}

.nav-title :hover {
color: rgb(95, 148, 202);
}

.nav-title-container {
display: flex;
flex-direction: row;
margin-left: 20vw;
margin-right: 5vw;
justify-content: space-between;
margin-right: 15vw;
height: 11vh;
width: 70vw;
align-items: center;
}


/*********** Home ***********/

.home {
  padding-top: 15vh;
  width: 100vw;
  height: 90vh;
}

.home-background {
  background-size: cover;
  background-position: fixed;
  
}