.App {
  text-align: center;
}

/*********** Used In Multiple ***********/

.header-title {
font-size: x-large;
padding-bottom: 15px;
color: rgb(54, 54, 54);
text-decoration: underline;
}




/*********** Nav Bar ***********/
.nav-bar {
  display: flex;
flex-direction: row;
justify-content: space-between;
  padding-top: 1vh;
  position: fixed;
  background-color: white;
  z-index: 2;
  box-shadow: 1px -24px 69px 3px rgba(136,136,136,1);
}


.nav-bar-logo-container {
  width: 4vw;
  height: 4vh;
}

.nav-bar-logo {
  height: 10vh;
  width: auto;
}

.nav-title {
  font-size: 20px;
  padding: 11px;
  color: #635551;
  cursor: pointer;
}

.nav-title :hover {
color: rgb(95, 148, 202);
text-decoration: underline;
}

.nav-title-container {
display: flex;
flex-direction: row;
margin-left: 20vw;
margin-right: 5vw;
justify-content: space-between;
margin-right: 15vw;
height: 11vh;
width: 70vw;
align-items: center;
}


/*********** Home ***********/

.home {
  padding-top: 12vh;
  width: 100vw;
  height: 60vh;
  position: relative;
  text-align: center;
  color: black;
}

.home-background {
  width: 100vw;
  height: 60vh;
  background-position: fixed;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color:white;
font-size: xx-large;
background-color: rgba(0, 0, 0, 0.3);
}

.home-subtext {
  font-size: x-large;
}

/*********** About ***********/

.about {
  padding: 5vh 10vw;
}

.about-text {
font-size: medium;
text-align: left;
padding-bottom: 25px;
}

.about-category {
  font-size: large;
  text-align: left;
  padding-bottom: 15px;
}

.about-container {
  display: grid;
  grid-template-columns: 40% 60%;
}

div.about-image > img {
  max-width: 100%;
  max-height: 100%;
}

.about-text-container {
  padding: 10px 0;
}

/*********** Services ***********/

.services {
  padding: 5vh 10vw;
  background-color: rgba(95, 148, 202, .1);
}

.service-card {
  max-width: 300px;
  max-height:300px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.service-card-title{
  padding: 10px;
  font-size: large;
}

.service-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/*********** Footer ***********/
