.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

/*********** Used In Multiple ***********/

.header-title {
  font-size: xx-large;
  padding-bottom: 15px;
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/*********** Nav Bar ***********/

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  box-shadow: 1px -24px 69px 3px rgba(136, 136, 136, 1);
}

.nav-bar-logo-container {
  width: 100px;
  height: 60px;
  padding-left: 25px;
}
.nav-bar-logo-container :hover {
  cursor: pointer;
}

.nav-bar-logo {
  height: 60px;
  width: auto;
  margin: 0 auto;
}

.nav-title {
  font-size: x-large;
  padding: 5px;
  color: #635551;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
}

.nav-title :hover {
  color: rgb(95, 148, 202);
  text-decoration: underline;
}

.nav-title-container {
  display: flex;
  flex-direction: row;
  margin-left: 45vw;
  justify-content: space-between;
  margin-right: 10vw;
  height: 60px;
  width: 40vw;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .nav-title {
    display: none;
  }
}

/*********** Slider ***********/

.home {
  width: 100vw;
  height: auto;
  position: relative;
  text-align: center;
  color: black;
  max-height: 80vh;
}

.home-background {
  width: 100vw;
  height: auto;
  background-position: fixed;
}

.slider {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: black;
}

.slide {
  margin-top: 80px;
  min-width: 100%;
  height: auto;
  transition: 0.5s;
  overflow: hidden;
}

/*********** Mission Statement ************/

.mission-statment-contatiner {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: auto;
  background: #63a3e4;
}

.mission-statement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: black;
}

@media screen and (max-width: 1100px) {
  .mission-statement {
    font-size: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .mission-statement {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {
  .mission-statement {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .mission-statement {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .mission-statement {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .mission-statement {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .mission-statement {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .mission-statement {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .mission-statement {
    font-size: 12px;
  }
}

.video-tag {
  width: 100vw;
  max-height: auto;
  z-index: 0;
  opacity: 0.5;
}

/*********** MinorityOwned ************/

.minority-owned-contatiner {
  min-width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #63a3e4;
  padding: 5vh 5vw;
}

.minority-owned {
  font-size: 60px;
  color: white;
}

@media screen and (max-width: 600px) {
  .minority-owned-contatiner {
    min-width: 90vw;
    padding: 5vh 3vw;
    height: 60vh;
  }
}

@media screen and (max-width: 1000px) {
  .minority-owned {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  .minority-owned {
    font-size: 45px;
  }
}

@media screen and (max-width: 800px) {
  .minority-owned {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .minority-owned {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .minority-owned {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .minority-owned {
    font-size: 26px;
  }
}

@media screen and (max-width: 420px) {
  .minority-owned {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .minority-owned {
    font-size: 18px;
  }
}

/*********** WorkFlow ************/

.work-flow-contatiner {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: auto;
}

.work-flow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: black;
}

.work-flow-image {
  width: 100vw;
  max-height: auto;
  z-index: 0;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .work-flow {
    font-size: 45px;
  }
}

@media screen and (max-width: 900px) {
  .work-flow {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .work-flow {
    font-size: 35px;
  }
}

@media screen and (max-width: 700px) {
  .work-flow {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .work-flow {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .work-flow {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .work-flow {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .work-flow {
    font-size: 12px;
  }
}

/*********** About ***********/

.about {
  padding: 5vh 10vw;
}

.about-text {
  font-size: large;
  text-align: left;
  padding-bottom: 25px;
}

.about-category {
  font-size: large;
  text-align: left;
  padding-bottom: 10px;
}

.about-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.about-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  width: 100%;
  margin: auto;
}

.img-wrapper img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.about-text-container {
  padding: 10px 0 10px 15px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .img-wrapper {
    display: none;
  }

  .about-container {
    display: flex;
  }

  .about-text {
    text-align: center;
  }
}
/*********** Solutions ***********/

.services {
  padding: 5vh 5vw;
  background-color: rgba(95, 148, 202, 0.1);
}

.service-card {
  max-width: 300px;
  max-height: auto;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  border-radius: 10px;
  background-color: white;
}

.service-card-title {
  padding: 10px;
  font-size: x-large;
}

.service-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.circle-icon {
  background: #63a3e4;
  padding: 30px;
  border-radius: 50%;
}

.solution-bullets {
  text-align: left;
}

/*********** Contact ***********/

.contact {
  padding: 5vh 20vw;
}

.contact-header {
  font-size: large;
  padding-bottom: 5px;
}

.contact-card {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  border-radius: 10px;
  min-width: 300px;
  max-width: 60vw;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.contact-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.contact-card-image {
  padding-bottom: 10px;
}

.contact-card-container :hover {
  color: rgb(95, 148, 202);
}

@media screen and (max-width: 900px) {
  .contact {
    padding: 5vh 6vw;
  }

  .contact-card {
    min-width: 100%;
    padding: 20px 0;
  }
}

/*********** Footer ***********/
.footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 163, 228);
}

.footer-text {
  color: white;
  font-size: large;
  font-family: "Oxygen", sans-serif;
  padding: 0 15px;
}
