/*********** Slider ***********/

.slider {
position: relative;
width: 100%;
height: auto;
box-sizing: border-box;
margin: 0;
padding: 0;
display: flex;
align-items: center;
overflow: hidden;
background: black;
}

.slide {
margin-top: 12vh;
min-width: 100%;
height: auto;
transition: 0.5s;
overflow: hidden;
}